@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body {
    font-family: 'Kumbh Sans', sans-serif;
    color: hsl(0, 0%, 59%);
    font-size: 18px;
    background-color: hsl(185, 75%, 39%);
    background-image: url("/images/bg-pattern-top.svg"), url("/images/bg-pattern-bottom.svg");
    background-repeat: no-repeat;
    background-position: -75% 200%, 150% -150%;
    height: 100vh;
}

/* ----- Typography ----- */

p {
    margin: 0.3rem;
}

span {
    color: hsl(0, 0%, 59%);
    font-weight: 400;
}

.bold {
    font-weight: 700;
    color: hsl(0, 0%, 0%);
    padding: 10px 0;
}

.small {
    font-size: 16px;
    padding: 0;
}

.smaller {
    font-size: 14px;
    padding: 0;
}

/* ----- Center ----- */

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* ----- Card ----- */

.card {
    width: 90vw;
    max-width: 400px;
    height: 90vw;
    max-height: 400px;
    border-radius: 15px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    position: relative;
    filter: drop-shadow(0px 0px 40px hsl(185, 75%, 29%));
}

.card-bg {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 40%;
    background-image: url("./images/bg-pattern-card.svg");
    background-size: cover;
    border-radius: 15px 15px 0 0;
    
}

.user {
    display: inherit;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 27%;
}

img {
    width: 25%;
    margin: 0 auto;
}

.round {
    border-radius: 100px;
    border: 7px solid #fff;
}

.stats {
    display: inherit;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-top: hsl(0, 0%, 95%) 1px solid;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px 0;
}

@media screen and (max-width: 400px) {
    body {
        background-image: url("/images/bg-pattern-top.svg"), url("/images/bg-pattern-bottom.svg");
        background-position: 130% 250%, -25% -140%;
    }
    .bold {
        padding: 5px 0;
    }
    .stats {
        padding: 5px 0;
    }
}